.box{
    height: 50px;
    width: 50px;
    background-color: beige;
    border: 2px solid black;
    /* transform: rotate(0.25turn); */
    /* transform: rotateX(40deg); */
    /* transform: scale(1.6); */
    /* transform: skew(20deg); */
    /* transform: translate(34px); */
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 80vh;
    width: 100vw;
    border: 2px solid purple;
}