body {
    background-color: red;
}
/* help you style your website on diffrent devices */
@media only screen and (max-width: 455px) {
    body {
        background-color: blue;
    } 
    .boxes{
        flex-direction: column;
    }
}
@media screen and (orientation:landscape) {
    body{
        background-color: purple;
        border-radius: 20px;
        border: 2px solid black;
    }       
}
.box{
    width:344px;
    height: 344px;
    background-color: steelblue;
    padding: 3px;
    margin: 3px;
}
.boxes{
    display: flex;
}