*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    padding: 0;
    margin: 0;
}
.list{
    display: flex;
    list-style: none;
    margin: 10;
    padding: 10;
    align-items:normal;
    column-gap: 100px;
    row-gap: 50px;
    margin-top: 20px;
    margin-left: 20px;
}
.subscription{
    margin: 8px;
    padding: 10px;
    height: 10px;
    width: 78px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.language{
    margin-top: 6px;
    margin-left: 20px;
}
.search{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: 100px;
}
.body{
    background-color: aqua;
    height: 500px;
    margin: 0;
    padding: 0;
}
.feet{
    background-color: green;
    margin: 0;
    padding: 0;
    height: 200px;
}