*{
    padding: 0;
    margin: 0;
}
.container{
    background-color: blue;
    height: 80%;
    width: 80%;
    position: absolute;
}
.ball{
    background-color: red;
    height: 90px;
    width: 90px;
    position: relative;
    border-radius: 70px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: bouncex 3s infinite linear, bouncey 1s infinite alternate ease-out ; 
}
@keyframes bouncey {
    from{
        top: 0%;
    }
    to{
        top: 80%;
    }
}
@keyframes bouncex{
    from{
        left: 0%;
    }
    to{
        left: 80%;
    }
}
 