*{
    padding: 0;
    margin: 0;
}
.container{
    background-color: blue;
    height: 90vh;
    width: 80vw;
    position: absolute;
}
.ball{
    background-color: red;
    height: 90px;
    width: 90px;
    position: relative;
    border-radius: 70px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: bouncexy 5s infinite alternate ease-in-out; 
}
@keyframes bouncexy {
    0% {
        transform: translateY(60vw,75vh);
    }
    50% {
        transform: translateY(0vw,0vh);
    }
    100% {
        transform: translateY(60vw,75vh);
    }
}